.formContacto{
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media screen and (max-width: 762px){
        &{
            height: 80vh;
        }
    }
    h2{
        text-align: center;
        font-size: 13vh;
        font-family: 'Barlow Condensed', sans-serif;
        color: #cbb9a8ff;
        text-shadow: 1px 1px 2px white;
        @media screen and (max-width: 762px){
            &{
                font-size: 10vh;
            }
        }
        @media screen and (max-width:377px){
            &{
                width: 330px;
            }
        }
    }
    label{
            color: #cbb9a8ff;
            font-family: Manrope;
            border-radius: 5%;
    }
}