header{
    background-color: #cbb9a8ff;
    width: 100%;
    position: sticky;
    top: 0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    @media screen and (max-width:890px){
        &{
            height: 100px;
        }
    }
    @media screen and (max-width:587px){
        &{
            height: 75px;
        }
    }
    h1{
        color:#1a1d1aff;
        font-size: 50px;
        font-style: italic;
        font-weight: 400;
        font-family: ms Madi;
        @media screen and (max-width:890px){
            &{
                font-size: 35px;
            }
        }
        @media screen and (max-width:749px){
            &{
                font-size: 30px;
            }
        }
        @media screen and (max-width:664px){
            &{
                font-size: 25px;
            }
        }
        @media screen and (max-width:587px){
            &{
                font-size: 20px;
            }
        }
        @media screen and (max-width:510px){
            &{
                font-size: 16px;
            }
        }
    }
    nav{
        @media screen and (max-width:424px) {
            nav{
                width: 300px;
            }
        }
        @media screen and (max-width:377px){
            &{
                width: 280px;
            }
        }
        ul{
            list-style: none;  
            display: flex;
            justify-content:flex-end;
            align-items: center;
            @media screen and (max-width:441px){
                &{
                    padding-left: 0;
                }
            }
            li{
                font-size: 20px;
                font-style: oblique;
                font-weight: 300;
                font-family: manrope;
                margin: 8px;
                transition: 0.2s;
                @media screen and (max-width:890px){
                    &{
                        font-size: 18px;
                    }
                }
                @media screen and (max-width:749px){
                    &{
                        font-size: 16px;
                    }
                }
                @media screen and (max-width:664px){
                    &{
                        font-size: 14px;
                    }
                }
                @media screen and (max-width:587px){
                    &{
                        font-size: 12px;
                    }
                }
                @media screen and (max-width:510px){
                    &{
                        font-size: 10px;
                    }
                }
                @media screen and (max-width:406px) {
                    &{
                        font-size: 8px;
                    }
                }
                a{
                    text-decoration: none;
                    color: #1a1d1aff;
                    transition: 0.2s;
                    @media screen and (min-width: 1024px){
                        &:hover{
                            color: #1a1d1aff;
                            transform: scale(1.15);
                        }
                    }
                }
            }
        }
    }
}
.logo{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    transition: 0.2s;
}
.logoImg{
    width: 75px;
    height: 100px;
    margin-right: 10px;
    @media screen and (max-width:890px){
        &{
            width: 50px;
            height: 75px;
        }
    }
    @media screen and (max-width:749px){
        &{
            width: 35px;
            height: 50px;
        }
    }
    @media screen and (max-width:664px){
        &{
            width: 25px;
            height: 40px;
        }
    }
    @media screen and (max-width:587px){
        &{
            width: 20px;
            height: 35px;
        }
    }
}

